.a{
    background-color: orangered;
}
.b{
    background-color: black;
}
.c{
    background-color: orangered;
    padding-bottom: 250px;
}
.d{
    background-color: orangered;
    padding-bottom: 180px;
}
.e{
    background-color: black;
    padding-bottom: 60px;
}