.a{ 
    background-color: black;
    color: white;
    border: 2px solid black;
}
.b{
    background-color: blue;
    color: black;
    border: 2px solid black;
}
.c{
    background-color: brown;
    border: 2px solid black;
}
.d{
    background-color: blueviolet;
    border: 2px solid black;
}
.e{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
}
.f{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
}
.g{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
}

